force: true

## i think the past multiqc reports were causing issues with the overal report so excluding them - they were 
fn_ignore_paths:
  - "*/star_alignment/*/*._STARpass1"
  - "*/pretrimming_multiqc_report*"
  - "*/posttrimming_multiqc_report*"

fn_clean_sample_names: true

disable_version_detection: true

report_header_info:
  - Analysis Run: "brat (Bulk Rna-seq Analysis Tool)"
  - Contact Email: "madison.apgar@cuanschutz.edu"
  - Department: "Microbiology and Immunology"
  - GitHub Repository: "https://github.com/Comp-Bio-Pipeline-Dev-Team/bulk_rna_seq"

title: "brat run report"
subtitle: "a detailed report of all analysis run" 
intro_text: "i am some intro text that madi will eventually think of"
##report_comment: "a comment about this report :) - config params go here (somehow)"

## added regex for sample merging to account for different delimiters, captialization, and presence/absence of _001
## may or may not have to adjust for trimmed samples as well 
table_sample_merge:
  "(R1)":
    - "_R1"
    - type: "regex"
      pattern: "[_.-](?:[rR])?1(?:[_.-]001)$"
  "(R2)":
    - "_R2"
    - type: "regex"
      pattern: "[_.-](?:[rR])?2(?:[_.-]001)$"

module_order:
  - fastqc:
      name: "FastQC (raw reads)"
      anchor: "fastqc_raw_reads"
      path_filters: 
        - "*_001_fastqc.zip"
        - "*[!d]_fastqc.zip"
  - cutadapt
  - fastqc:
      name: "FastQC (trimmed reads)"
      anchor: "fastqc_trimmed_reads"
      path_filters: 
        - "*trimmed_fastqc.zip"
  - star
  - picard
  - rsem


section_comments:
  general_stats: >
    here you want to check that the raw quality of the sequencing reads looks good, 
    samples to have even read representation, 
    the average and median read lengths to be the same, 
    and for both strands per sample to be evenly sequenced. 
    read duplication is commonly high in bulk RNA-seq data, so don't be alarmed by that.
  fastqc_raw_reads: |
    here you want to check that base quality/confidence and average sequence quality have high Phred scores,
    (in the green section). the max Phred score is 38-40 depending on the chemistry color used in Illumina sequencing.
    adapter content will be flagged here since this is prior to trimming.  
        
    command used for fastqc on raw/trimmed reads:  

    <pre><code>
    fastqc inFiles -o outDir --threads n_threads
    </code></pre>
  cutadapt: |
    trimming of raw sequences  

    command used for cutadapt trimming:  

    <pre><code>
    cutadapt -a adapter_threePrime \  
             -A adapter_threePrime \  
             chemistryFlag \  ## either --nextseq-trim for Novaseq 2 color chemistry or -q for others
             --minimum-length=minReadLen \  
             -j n_threads \  
             --pair-filter=any \  
             -o forwardTrimmed \  
             -p reverseTrimmed \  
             forward reverse>log \  
             2>error
    </code></pre>
  fastqc_trimmed_reads: >
    here you want to check that post-trimming base quality/confidence and average sequence quality have 
    higher Phred scores (closer to 38-40) than pre-trimming, and that adapter content has been removed. 
    you'll also want to check your samples for overrepresented sequences and investigate any that are found.
  star: |
    here you want to check that the percentage of uniquely mapped reads is high (ideally >70%),
    and that the percentage of reads mapped to multiple loci is low (ideally <15%).
    if you have a lot of reads that didn't map at all, you may want to investigate further and 
    rerun alignment with optimization parameters such as:  

    <pre><code>
    --outSAMunmapped Within KeepPairs \  
    --outReadsUnmapped Fastx \  
    --outFilterScoreMinOverLread 0.20 \ ## adjust as needed, lower values are less stringent (+/- 0.10)  
    --outFilterMatchNminOverLread 0.20 ## must match the above value
    </code></pre>

    if your percentage of uniquely mapped reads is still low,
    your reads may be of low quality, fragmented, or there may be contamination in your samples. you can also rerun
    the alignment with rsem instead of star to see if that improves alignment/quantification (include `--run_rsem` flag).  

    command used for star alignment:  

    <pre><code>
    STAR --runMode alignReads \
         --runThreadN n_threads \
         --genomeDir star_genome_index_dir \
         --readFilesCommand zcat \
         -sjdbGTFfile annotFile \
         --readFilesIn forwardTrimmed reverseTrimmed \
         --outFileNamePrefix star_sample_prefix \ ## default is gene_id
         --outSAMtype BAM SortedByCoordinate \
         --quantMode TranscriptomeSAM GeneCounts \
         --twopassMode Basic \
         --sjdbOverhang
    </code></pre>
  picard: |
    picard can give you additional metrics on your aligned reads, such as the strandedness of your sequences (not included here),
    the percentage of ribosomal rna contamination, and the distribution of reads across genomic features (exonic, intronic, intergenic).
    ideally, you want a low percentage of rRNA contamination (<5%), a low percentage of intergenic bases (<40%), and the majority of your 
    reads mapping to exonic regions (>65%).  

    command(s) used for picard metrics calculation:  

    <pre><code>
    picard CollectRnaSeqMetrics \  
             I=aligned_coordBam \  
             O=collect_rnaSeq_file \  
             REF_FLAT=refFlat_file \  
             STRAND=strandedness \ ## we calculate this so you dont have to!
             RIBOSOMAL_INTERVALS=riboIntList_file  
    
    picard CollectInsertSizeMetrics \  
             I=aligned_coordBam \  
             O=insertSize_file \  
             H=insertSize_histogram
    </code></pre>
  rsem: |
    if you chose to run rsem, you'd ideally like to see an increase in the percentage of your uniquely mapped reads and a decrease
    in your unmapped/multimapped reads compared to star.  

    command used for rsem quantification:  

    <pre><code>
    rsem-calculate-expression --paired-end \  
                              --bam \  
                              -p n_threads \  
                              --forward-prob strandedness \ ## we calculate this so you dont have to!
                              --time aligned_transcriptBam rsem_index_name rsem_out_dir/current_sample
    </code></pre>
  multiqc_software_versions: "software versions of all tools used in this analysis"