## workflow profile
## specifies resources for certain rules (workflow specific)
## set via --workflow-profile flag in snakemake command
executor: slurm

default-resources:
    slurm_partition: "amilan"
    slurm_account: "amc-general"


## put in scratch directory, inside project (create logs/ directory)
## slurm logs 
## i dont think this is doing anything so I'm not going to include it
##slurm-logdir: "logs/snake_slurm_logs"

## to define resources for a specific rule 
set-resources:
    run_pretrimming_fastqc:
        runtime: "1h"
        mem: "1GB"
        ntasks: 1
        nodes: 1
        slurm_extra: "'--qos=normal' '--output=logs/05092025/pretrimming_fastqc_%J.log' '--error=logs/05092025/pretrimming_fastqc_%J.err' '--mail-type=FAIL,END' '--mail-user=MADISON.APGAR@CUANSCHUTZ.EDU'"
    run_pretrimming_multiqc:
        runtime: "1h"
        mem: "1GB"
        ntasks: 1
        nodes: 1
        slurm_extra: "'--qos=normal' '--output=logs/05092025/pretrimming_multiqc_%J.log' '--error=logs/05092025/pretrimming_multiqc_%J.err' '--mail-type=FAIL,END' '--mail-user=MADISON.APGAR@CUANSCHUTZ.EDU'" 
    run_cutadapt:
        runtime: "2h"
        mem: "5GB"
        ntasks: 2
        nodes: 1
        slurm_extra: "'--qos=normal' '--output=logs/05092025/cutadapt_%J.log' '--error=logs/05092025/cutadapt_%J.err' '--mail-type=FAIL,END' '--mail-user=MADISON.APGAR@CUANSCHUTZ.EDU'"
    run_posttrimming_fastqc:
        runtime: "1h"
        mem: "1GB"
        ntasks: 1
        nodes: 1
        slurm_extra: "'--qos=normal' '--output=logs/05092025/posttrimming_fastqc_%J.log' '--error=logs/05092025/posttrimming_fastqc_%J.err' '--mail-type=FAIL,END' '--mail-user=MADISON.APGAR@CUANSCHUTZ.EDU'"
    run_posttrimming_multiqc:
        runtime: "1h"
        mem: "1GB"
        ntasks: 1
        nodes: 1
        slurm_extra: "'--qos=normal' '--output=logs/05092025/posttrimming_multiqc_%J.log' '--error=logs/05092025/posttrimming_multiqc_%J.err' '--mail-type=FAIL,END' '--mail-user=MADISON.APGAR@CUANSCHUTZ.EDU'"  
