name: pytest for snake utility functions
run-name: test3
on:
  push:
    branches:
      - 'dev_MA'
jobs:
  run-pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: install pip dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ github.workspace }}/tests/requirements.txt
      - name: run pytest
        run: |
          pytest ${{ github.workspace }}/tests/test_snake_util_fxns.py --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html
