name: testing snakemake in github actions
run-name: ${{ github.actor }} is praying that this works
on: [push]
jobs:
  test-snakemake:
    runs-on: ubuntu-latest
    steps:
      - name: run snakemake in fastqc docker container
        uses: snakemake/snakemake-github-action@v2.0.0
        with:
          snakefile: '.test/workflow/snakefile'
          args: '-s .test/workflow/snakefile --cores 1 --use-singularity'
          ##install-apptainer: true
          snakemake-version: 8.27.1
          stagein: 'sudo apt update sudo add-apt-repository -y ppa:apptainer/ppa sudo apt update sudo apt install -y apptainer'

      ##- name: run snakemake with fastqc conda environment
        ##uses: snakemake/snakemake-github-action@v2.0.0
        ##with:
          ##snakefile: '.test/workflow/snakefile'
          ##args: '--cores 1 --use-conda'