name: testing snakemake in github actions
run-name: ${{ github.actor }} is praying that this works
on: [push]
jobs:
  test-snakemake:
    runs-on: ubuntu-latest
    steps:
      - name: build my own snakemake .yml 
        shell: bash -el {0}
        run: |
          cat <<EOF > .snakemake.environment.yml
          channels:
            - conda-forge
            - bioconda
            - nodefaults
          dependencies:
            - snakemake==8.27.1
          EOF

      - name: setting up miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          channels: conda-forge,bioconda
          channel-priority: strict
          miniforge-version: latest
          environment-file: .snakemake.environment.yml
          activate-environment: snakemake

      - name: check snakemake version
        shell: bash -el {0}
        run: snakemake --version

      - name: install apptainer
        shell: bash -el {0}
        run: |
          sudo apt update
          sudo add-apt-repository -y ppa:apptainer/ppa
          sudo apt update
          sudo apt install -y apptainer
      
      - name: run snakemake with fastqc container
        shell: bash -el {0}
        run: |
          snakemake -s .test/workflow/snakefile --cores 1 --use-singularity


      ##- name: run snakemake in fastqc docker container
        ##uses: snakemake/snakemake-github-action@v2.0.0
        ##with:
          ##directory: '.test'
          ##snakefile: 'workflow/snakefile'
          ##args: '--cores 1 --use-singularity'
          ##install-apptainer: true
          ##snakemake-version: 8.27.1
          ##stagein: 'sudo apt update sudo add-apt-repository -y ppa:apptainer/ppa sudo apt update sudo apt install -y apptainer'

      ##- name: run snakemake with fastqc conda environment
        ##uses: snakemake/snakemake-github-action@v2.0.0
        ##with:
          ##snakefile: '.test/workflow/snakefile'
          ##args: '--cores 1 --use-conda'