name: testing snakemake in github actions
run-name: trying fastqc container without conda installed
on:
  push:
    branches:
      - 'dev_MA'
jobs:
  test-snakemake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build my own snakemake .yml 
        shell: bash -el {0}
        run: |
          cat <<EOF > .snakemake.environment.yml
          channels:
            - conda-forge
            - bioconda
            - nodefaults
          dependencies:
            - snakemake==8.27.1
          EOF

      - name: setting up miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          channels: conda-forge,bioconda
          channel-priority: strict
          miniforge-version: latest
          environment-file: .snakemake.environment.yml
          activate-environment: snakemake

      - name: check snakemake version
        shell: bash -el {0}
        run: snakemake --version

      - name: install apptainer (different way)
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.6

      - name: run snakemake with --use-singularity flag 
        shell: bash -el {0}
        run: |
          snakemake -s ${{ github.workspace }}/.test/workflow/snakefile --cores 1 --use-singularity